@import "../common/_variables";
@import "../common/_mixins";

/*======================================*/
/*------------ SEARCH PAGES ------------*/
/*======================================*/
.search_tit_area {
  @include flexLayout(center, space-between);
  h2 {
    @include fontStyle(1.8rem, $color_gray_1d, 700);
  }
  button {
    @include fontStyle(1.4rem, $color_gray_71, 500);
    text-decoration: underline;
  }
}
.search_tags_area ul {
  @include flexLayout(stretch, flex-start, 8px, wrap);
  li {
    position: relative;
    button {
      &:not(.x_btn) {
        @include fontStyle(14px, $color_gray_1d, 500);
        height: 36px;
        padding: 0 34px 0 14px;
        border: 1px solid $color_gray_e;
        border-radius: 50px;
        background-color: $color_white;
      }
      &.x_btn {
        position: absolute;
        top: 50%;
        right: 10px;
        padding: 4px;
        transform: translateY(-50%);
      }
    }
  }
}
.search_list_area ul li {
  button,
  a {
    @include fontStyle(1.6rem, $color_gray_1d, 500);
    @include line1Text;
    display: block;
    padding: 0 16px 0 44px;
    border-bottom: 1px solid $color_gray_e;
    background: url("/images/icon_search.svg") no-repeat 16px center;
    line-height: 51px;
    span {
      color: $color_key_01;
    }
  }
}
.search_text_area {
  h2 {
    @include fontStyle(1.4rem, $color_gray_1d, 500);
    span {
      color: $color_key_01;
      font-weight: 700;
      text-decoration: underline;
    }
  }
}

/*======================================*/
/*----------- COMPANY PAGES ------------*/
/*======================================*/
.company_tit_area {
  @include flexLayout(center, center, 16px, nowrap, column);
  @include initBackground;
  padding: 0 16px;
  background-size: cover;
  height: 400px;
  text-align: center;
  &.bg01 {
    background-image: url("/images/company_tit_bg01.jpg");
  }
  &.bg02 {
    background-image: url("/images/company_tit_bg02.jpg");
  }
  h2 {
    @include fontStyle(2.5rem, $color_white, 700);
    font-family: "Poppins";
  }
  p {
    @include fontStyle(1.8rem, $color_white, 700);
  }
}

.company_text_area {
  padding: 40px 0;
  border-bottom: 1px solid $color_gray_e;
  letter-spacing: -0.01rem;
  h3 {
    @include fontStyle(1.8rem, $color_gray_1d, 700);
  }
  p {
    @include fontStyle(2.2rem, $color_gray_1d, 700);
  }
  span {
    @include fontStyle(1.6rem, $color_gray_5, 500);
    display: block;
    margin-top: 16px;
  }
  ul {
    @include flexLayout(stretch, flex-start, 8px, nowrap, column);
    margin-top: 16px;
    li {
      @include fontStyle(1.6rem, $color_gray_5, 500);
      position: relative;
      padding-left: 15px;

      &::before {
        content: "";
        position: absolute;
        top: 9px;
        left: 0;
        display: block;
        width: 3px;
        height: 3px;
        background-color: $color_gray_5;
      }
    }
  }
  .text_area {
    margin-top: 16px;
    padding: 20px 16px;
    border-radius: 4px;
    background-color: $color_gray_f8;
    text-align: center;
    p {
      @include fontStyle(1.8rem, $color_gray_1d, 700);
    }
  }
}

.company_desc {
  @include fontStyle(1.8rem, $color_gray_1d, 700);
}

.organization_wrap {
  h3 {
    @include flexLayout(center, center, 16px);
    @include fontStyle(1.6rem, $color_white, 700);
    height: 60px;
    border-radius: 4px;
    background-color: $color_gray_1d;
  }
  dl {
    position: relative;
    padding-top: 24px;
    padding-left: 40px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 20px;
      display: block;
      width: 1px;
      height: 100%;
      background-color: $color_gray_d8;
    }
    &:last-of-type::before {
      height: 75px;
    }

    dt {
      position: relative;
      border: 1px solid $color_key_01;
      border-radius: 4px;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -20px;
        display: block;
        width: 19px;
        height: 1px;
        background-color: $color_gray_d8;
      }
      p {
        @include flexLayout(center, center);
        @include fontStyle(1.6rem, $color_white, 700);
        height: 39px;
        padding: 0 4px;
        border-radius: 4px 4px 0 0;
        background-color: $color_key_01;
        text-align: center;
      }
      span {
        @include flexLayout(center, center, 16px);
        @include fontStyle(1.6rem, $color_gray_5, 500);
        height: 59px;
        b {
          color: $color_key_01;
          font-weight: 700;
        }
      }
    }
    dd {
      position: relative;
      padding: 20px 0;
      background-color: $color_gray_f8;
      border: 1px solid $color_gray_d8;
      border-top: 0;
      border-bottom: 0;
      text-align: center;
      p {
        @include fontStyle(1.6rem, $color_gray_1d, 700);
      }
      span {
        @include fontStyle(1.6rem, $color_gray_5, 500);
        display: block;
        margin-top: 8px;
      }
      &:first-of-type {
        margin-top: 8px;
        border-top: 1px solid $color_gray_d8;
        border-radius: 4px 4px 0 0;
      }
      &:last-of-type {
        border-bottom: 1px solid $color_gray_d8;
        border-radius: 0 0 4px 4px;
      }
      & + dd::before {
        content: "";
        position: absolute;
        top: 0;
        left: 16px;
        display: block;
        width: calc(100% - 32px);
        height: 1px;
        background-color: $color_gray_e;
      }
    }
  }
}

/*======================================*/
/*------------ ERROR PAGES -------------*/
/*======================================*/
.error_wrap {
  @include flexLayout(center, center);
  width: 100%;
  height: 100vh;
  text-align: center;

  img {
    margin: 0 auto;
  }
  h1 {
    @include fontStyle(2.2rem, $color_gray_1d, 700);
    margin-top: 16px;
  }
  p {
    @include fontStyle(1.6rem, $color_gray_5, 500);
    margin-top: 16px;
  }
  .btn {
    margin-top: 40px;
  }
}
