@import "../common/_variables";
@import "../common/_mixins";

/*======================================*/
/*--------- GATHERING STYLES -----------*/
/*======================================*/
.gathering_tit_area {
  @include flexLayout(center, center, 16px, nowrap, column);
  @include initBackground;
  width: 100%;
  height: 240px;
  padding: 0 16px;
  background-size: cover;
  text-align: center;
  &.bg01 {
    background-image: url("/images/gathering_tit_bg.jpg");
  }
  &.bg02 {
    background-image: url("/images/work_tit_bg.jpg");
  }
  h2 {
    @include fontStyle(2.5rem, $color_white, 700);
    font-family: "Poppins";
  }
  p {
    @include fontStyle(1.8rem, $color_white, 700);
  }
}

.gathering_list_tit {
  @include flexLayout(center, space-between, 8px);
  p {
    @include fontStyle(1.4rem, $color_gray_1d, 500);
  }
}

.gathering_detail_tit_area {
  padding: 20px 0;
  border-bottom: 1px solid $color_gray_e;
  .tags {
    @include flexLayout(center, flex-start, 6px);
    margin-bottom: 8px;
  }
  h2 {
    @include fontStyle(1.8rem, $color_gray_1d, 700);
  }
  .desc {
    @include flexLayout(center, flex-start, 8px);
    margin-top: 8px;
    p {
      @include flexLayout(center, center, 8px);
      @include fontStyle(1.4rem, $color_gray_71, 500);
      &:not(:last-of-type)::after {
        content: "";
        display: block;
        width: 1px;
        height: 12px;
        background-color: $color_gray_d8;
      }
    }
  }
}

// 아티스트
.artist_tit_area {
  text-align: center;
  .bg {
    width: 100%;
    height: 140px;
    background: url("/images/artist_tit_bg.jpg") no-repeat center / cover;
  }
  .profile_area {
    display: inline-block;
    margin-top: -36px;
    .img_area {
      width: 72px;
      border-radius: 50%;
    }
    h2 {
      @include fontStyle(2.2rem, $color_gray_1d, 700);
      margin-top: 16px;
    }
  }
  .text_area {
    @include fontStyle(1.6rem, $color_gray_1d, 500);
    margin-top: 24px;
    padding: 20px 16px;
    border: 1px solid $color_key_05;
    border-radius: 4px;
    background-color: $color_key_03;
  }
}

.artist_view_area {
  padding: 40px 0;

  h3 {
    @include fontStyle(1.8rem, $color_gray_1d, 700);
  }
  .desc {
    @include fontStyle(1.6rem, $color_gray_5, 500);
    margin-top: 16px;
  }
  .tags {
    @include flexLayout(flex-start, flex-start, 8px, wrap);
    margin-top: 16px;
    & > * {
      @include flexLayout(center, center);
      @include fontStyle(1.4rem, $color_gray_5, 500);
      height: 33px;
      padding: 0 12px;
      border: 1px solid $color_gray_d8;
      border-radius: 16px;
    }
  }
}
