@import "../common/_variables";
@import "../common/_mixins";

/*======================================*/
/*----------- MYPAGE STYLES ------------*/
/*======================================*/
.mypage_info_area {
  padding: 32px 0 40px;
  text-align: center;
  img {
    margin: 0 auto 16px;
  }
  p {
    @include fontStyle(2.2rem, $color_gray_1d, 700);
  }
  span {
    @include fontStyle(1.6rem, $color_gray_5, 500);
    display: block;
    margin-top: 16px;
  }
}

// 대시보드
.mypage_dashboard_area {
  padding: 32px 0 40px;
  background-color: $color_black;
  .tit {
    @include flexLayout(flex-end, space-between, 8px);
    h2 {
      @include fontStyle(2.2rem, $color_white, 700);
    }
    a {
      @include fontStyle(1.4rem, $color_gray_c, 700);
      text-decoration: underline;
    }
  }
  ul {
    @include flexLayout(stretch, flex-start, 12px);
    margin-top: 20px;
    li {
      @include flexLayout(center, center, 4px, nowrap, column-reverse);
      flex: 1;
      height: 100px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 4px;
      background-color: rgba(255, 255, 255, 0.1);
      p {
        @include fontStyle(1.4rem, $color_gray_c, 500);
      }
      span {
        @include fontStyle(2.2rem, $color_white, 700);
      }
    }
  }
}
.mypage_dashboard_list_area {
  padding: 40px 0 28px;
  h3 {
    @include fontStyle(1.6rem, $color_gray_1d, 700);
  }
  ul {
    @include flexLayout(stretch, flex-start, 0, nowrap, column);
    margin-top: 12px;
    li a {
      @include flexLayout(center, flex-start, 12px);
      @include fontStyle(1.6rem, $color_gray_1d, 500);
      position: relative;
      padding: 12px 24px 12px 0;
      &::before {
        content: "";
        position: absolute;
        top: calc(50% - 8px);
        right: 0;
        display: block;
        width: 16px;
        height: 16px;
        background: url("/images/icon_arrow_right.svg") no-repeat center /
          contain;
      }
    }
  }
}
.mypage_dashboard_btn {
  button,
  a {
    @include fontStyle(1.4rem, $color_gray_8e, 700);
    text-decoration: underline;
  }
}

// 회원탈퇴
.mypage_withdraw_area {
  .desc {
    @include fontStyle(1.6rem, $color_gray_5, 500);
  }
  h2 {
    @include fontStyle(1.6rem, $color_gray_1d, 700);
  }
  .text_area {
    margin-top: 16px;
    padding: 24px 16px;
    border-radius: 4px;
    background-color: $color_gray_f8;
    p {
      @include fontStyle(1.6rem, $color_gray_5, 500);
    }
    span {
      @include fontStyle(1.6rem, $color_key_01, 700);
      display: block;
      margin-top: 16px;
      text-decoration: underline;
    }
  }
}

// 주문내역
.order_item_wrap {
  padding: 24px 16px;
  border-top: 8px solid $color_gray_f8;
  border-bottom: 1px solid $color_gray_e;
  .title_area {
    @include flexLayout(center, space-between, 8px);
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid $color_gray_e;
    p {
      @include fontStyle(1.4rem, $color_gray_71, 500);
    }
    button,
    a {
      @include fontStyle(1.4rem, $color_gray_71, 500);
      text-decoration: underline;
    }
  }
  .content_area {
    .status {
      @include fontStyle(1.4rem, $color_key_01, 700);
      display: block;
      margin-bottom: 8px;
      &.type01 {
        color: $color_key_01;
      }
      &.type02 {
        color: $color_red_01;
      }
      &.type03 {
        color: $color_gray_1d;
      }
    }
    .desc_text_style01 {
      @include fontStyle(1.4rem, $color_gray_5, 500);
      display: block;
      width: 100%;
      padding: 6px 16px;
      margin-top: 16px;
      border-radius: 4px;
      background-color: $color_gray_f8;
      text-align: center;
      & + .desc_text_style01 {
        margin-top: 6px;
      }
    }
    .desc_text_style02 {
      @include fontStyle(1.4rem, $color_red_01, 400);
      display: block;
      margin-top: 16px;
    }
  }
}

// 포트폴리오
.portpolio_detail_tit_area {
  padding: 20px 0;
  border-bottom: 1px solid $color_gray_e;
  h2 {
    @include fontStyle(1.8rem, $color_gray_1d, 700);
  }
  .date {
    @include fontStyle(1.4rem, $color_gray_71, 500);
    margin-top: 8px;
  }
}
