@import "../common/_variables";
@import "../common/_mixins";

/*======================================*/
/*----------- ORDER STYLES -------------*/
/*======================================*/
.order_use_text {
  .desc {
    @include fontStyle(1.6rem, $color_gray_1d, 500);
  }
  .note {
    @include fontStyle(1.4rem, $color_red_01, 500);
    margin-top: 16px;
    span {
      font-weight: 700;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.order_caution_text {
  @include flexLayout(stretch, flex-start, 8px, nowrap, column);
  padding: 20px 16px;
  border: 1px solid $color_gray_e;
  border-radius: 4px;
  margin-top: 24px;

  .tit {
    @include fontStyle(1.4rem, $color_gray_1d, 700);
    position: relative;
    padding-left: 22px;
    &::before {
      content: "";
      position: absolute;
      top: 2px;
      left: 0;
      display: block;
      width: 16px;
      height: 16px;
      background: url("/images/icon_caution.svg") no-repeat center/ contain;
    }
  }
  .text {
    @include fontStyle(1.3rem, $color_gray_71, 500);
    letter-spacing: -0.01rem;
  }
}

.order_agree_btn_area {
  padding: 24px 16px 64px;
  background-color: $color_white;
}

.order_info_area {
  padding: 32px 0 40px;
  text-align: center;
  img {
    margin: 0 auto 16px;
  }
  p {
    @include fontStyle(2.2rem, $color_gray_1d, 700);
  }
}

.order_number_area {
  @include flexLayout(center, space-between, 8px);
  padding: 20px 16px;
  background-color: $color_white;
  border-bottom: 1px solid $color_gray_e;
  .num {
    @include fontStyle(1.4rem, $color_gray_1d, 500);
    b {
      color: $color_key_01;
      font-weight: 700;
    }
  }
  .date {
    @include fontStyle(1.4rem, $color_gray_71, 500);
  }
}
