// COLORS
$color_key_01: #475ed9;
$color_key_02: #135fc2;
$color_key_03: #eff1ff;
$color_key_04: #e7f3ff;
$color_key_05: #b5beef;
$color_blue: #135fc2;
$color_orange_01: #e86d28;
$color_orange_02: #fff5e7;
$color_red_01: #dd083e;
$color_red_02: #fff7f5;

$color_black: #000000;
$color_gray_1d: #1d1d1d;
$color_gray_5: #555555;
$color_gray_71: #717171;
$color_gray_8e: #8e8e8e;
$color_gray_a: #aaaaaa;
$color_gray_c6: #c6c6c6;
$color_gray_c: #cccccc;
$color_gray_d8: #d8d8d8;
$color_gray_e: #eeeeee;
$color_gray_ef: #efefef;
$color_gray_f0: #f0f0f0;
$color_gray_f8: #f8f8f8;
$color_white: #ffffff;

// SIZES
$width_container: 480px;
$height_header: 56px;
$height_bottom_nav: 64px;

// Z-INDEX
$z_skip_nav: 999;
$z_mobile_menu: 600;
$z_sticky_menu: 550;
$z_fixed_bottom_btn: 500;
$z_bottom_nav: 500;
$z_floating_menu: 400;
$z_modal: 800;
$z_modal_full: 700;
